@model UI.Models.CurrentConditionsModel

@{
    ViewData["Title"] = "Condiciones Actuales";
}

<h1>Index</h1>

<div>
    <h4>Condiciones climáticas actuales de @ViewBag.Ciudad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalObservationDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalObservationDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeatherText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeatherText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasPrecipitation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasPrecipitation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecipitationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecipitationType)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Buscar Nuevo", "Index", "Home")
</div>
